<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
  <link href="style.css" rel="stylesheet" type="'text/css">
</head>
<body>
<h1>Bicycle Truck Nuts</h1>
<%= yield %>


</body>
</html>