<div id="stripe_checkout">
  <form action="/charge" method="POST">
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_YYhmCoqSRcvWtzDAIYB8ua7F0fOy0"
    data-image="/square-image.png"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-amount="2000">
    </script>
  </form>
</div>
